
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  font-family: 'Felipa', cursive;
  background-attachment: fixed;
}

.intro a:hover, #footer a:hover, #footer li:hover{
  color: #c4c7ce;
}
.container{
  width: 80%;
  height: 80%;
  margin: auto;
  overflow: hidden;
}
.backg_container{
  background: rgba(0, 0, 0, 0.6);
}
.imgParalaxContainer{
  height: 400px;
  width: 100%;
  margin: auto;
  background: url('../img/background_1.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.imgParalaxContainer1{
  height: 400px;
  width: 100%;
  margin: auto;
  background: url('../img/background_2.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.imgParalaxContainer2{
  height: 400px;
  width: 100%;
  margin: auto;
  background: url('../img/background_3.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.imgParalaxContainer3{
  height: 400px;
  width: 100%;
  margin: auto;
  background: url('../img/background_7.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.imgParalaxContainer4{
  height: 400px;
  width: 100%;
  margin: auto;
  background: url('../img/background_4.jpeg') no-repeat ;
  background-size: cover;
  background-attachment: fixed;
}
.imgParalaxContainer5{
  height: 400px;
  width: 100%;
  margin: auto;
  background: url('../img/background_6.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header{
  padding-top:  50px;
  background: rgba(0, 0, 0, 0.6);
}
header a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
}
header ul{
  float: right;
  margin: 0;
}
header li{
  display: inline;
  padding: 0 20px 0 20px;
  font-size: 25px;
}
header #main_h{
  padding-bottom: 20px;
  font-size: 35px;
}
section #showcase{
  text-align: center;
}
section #showcase h1{
  margin-top: 20vh;
  color: white;
  font-size: 5vw;
}
 #secondShowcase{
  width: 100%;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}
#secondShowcase img{
  width: 100%;
}
#secondShowcase a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#secondShowcase a:hover{
  color: white;
  background-color: rgba(173, 75, 10, 0.6);
}
.text_img_container{
  margin-top: 10vh;
  min-height: 300px;
  margin-bottom: 15vh;
}
.text_container{
  width: 50%;
  float: left;
}
.img_container{
  width: 40%;
  float: right;
}
#footer{
  height: 40%;
  width: 100%;
  background: url('../img/background_1.jpg') no-repeat;
  background-size: cover;
  font-family: 'Felipa', cursive;
  color: white;
  background-attachment: fixed;
}
.footer_nav{
  height: 70%;
  margin-left: 100px;
  margin-top: 70px;
  float: left;
  border-left: 2px white solid;
  width: 100%;
}
#footer a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
}
#footer li:hover{
  cursor: pointer;
}
{
  color: #c4c7ce;
}
.footer_links{
  float: left;
}
.icons{
  width: 60%;
  float: right;
}
.icons li{
  display: inline;
  padding: 0 20px 0 20px;
}

@media (max-width:980px) {
  header .container{
    width: 100%;
  }
  #main_h{
    float: none;
  }
}

@media (max-width:768px) {
  .imgParalaxContainer,
  .imgParalaxContainer1,
  .imgParalaxContainer2,
  .imgParalaxContainer3,
  .imgParalaxContainer4,
  .imgParalaxContainer5,
  #footer{
    background-attachment: scroll;
    height: 200px;
  }

  .intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url('../img/background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Felipa', cursive;
    background-attachment: scroll;
  }
  .container_resp_bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .container , #secondShowcase .text_img_container{
    width: 100%;
  }
  header .container{
    text-align: center;
  }
  header  {
    padding-top: 5vh;
    background: none;
  }
  header li{
    display: block;
    font-size: 25px;
  }
  header ul{
    margin-top: 5vh;
    float: none;
    padding: 0;
    margin-bottom: 5vh;
  }
  section #showcase h1{
    margin-top:0;
    color: white;
    font-size: 30px;
  }
  section #showcase .backg_container{
    background: none;
  }
  #secondShowcase .text_container{
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 5vw;
  }
  #secondShowcase .text_img_container{
    margin-bottom: 10vw;
  }
  #secondShowcase .img_container{
    float: none;
    text-align: center;
    width: 100%;

  }
